/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
	--colorCard: #EA5370;
	--bgColor: #E47D91;
	--white: #FFF;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/
.layout {
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bgColor);
}

.layout__main {
	min-width: 40rem;
	border-radius: 2rem;
	background-color: var(--white);
	box-shadow: 0px 0px 20px var(--colorCard);
}

.main__user {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--colorCard);
	padding-bottom: 3rem;
	border-radius: 2rem 2rem 0 0;
}

.user__container-img {
	width: 15rem;
	height: 15rem;
	margin: 5rem 0 2.5rem 0;
}

.user__img {
	border-radius: 50%;
	border: 3px solid var(--white);
}

.user__content {
	text-align: center;
	display: flex;
	gap: 2rem;
	font-size: 2rem;
}

.user__name {
	color: var(--white);
	font-weight: 600;
}

.user__nickname {
	color: var(--white);
	cursor: pointer;
}

.user__city {
	color: var(--white);
	font-weight: 500;
	opacity: 0.7;
	font-size: 1.8rem;
}

.main__stats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	padding: 3rem 4rem;
	text-align: center;
}

.stats__followers,
.stats__posts,
.stats__likes {
	/* este borde apoya al borde en hover */
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 0.5rem;
	cursor: pointer;
	transition: all 300ms ease-in;
	width: 33.3333%;
}

.stats__followers:hover,
.stats__posts:hover,
.stats__likes:hover {
	border: 1px solid pink;
}

.followers__number,
.posts__number,
.likes__number {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 0;
}

.followers__title,
.posts__title,
.likes__title {
	font-weight: 500;
	color: gray;
	opacity: 0.7;
}