/*! === CUSTOM PROPERTIES === */
:root {
	--blue: #2761DA;
	--lightBlue: #47A8EB;
	--gray: #F4F4F4;
	--black: #2D2D2D;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	max-width: 65rem;
	margin: 3rem auto 0;
}

.layout__header {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-bottom: 5rem;
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__top>.fa-solid {
	font-size: 6rem;
	color: var(--blue);
}

.header__title {
	font-size: 3rem;
	color: var(--blue);
}

.header__bottom {
	width: 100%;
}

.header__search {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.search__control {
	flex-basis: 75%;
	/* Unificando ambos elementos en uno solo */
	display: flex;
	background-color: var(--gray);
	align-items: center;
	border-radius: 1.5rem;
}

.search__input {
	width: calc(95% - 2rem);
	background-color: var(--gray);
	padding: 1.5rem;
	border-radius: 1.5rem;
	border: none;
	outline: none;
	font-weight: 700;
	color: var(--black);
	text-align: center;
}

.search__control>.fa-solid {
	width: 5%;
	font-size: 2rem;
	cursor: pointer;
	transition: all 300ms linear;
}

.search__control>.fa-solid:hover {
	color: var(--blue);
}

.search__select {
	width: 25%;
	background-color: var(--gray);
	padding: 1.5rem;
	border-radius: 1.5rem;
	border: none;
	outline: none;
	font-weight: bold;
	color: var(--black);
}

.layout__word {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5rem;
}

.word__title {
	color: var(--black);
	font-weight: 900;
	font-size: 4.5rem;
}

.word__btn {
	background-color: var(--lightBlue);
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	text-decoration: none;
	transition: all 300ms ease-in-out;
	/* Centrando el icono */
	display: flex;
	justify-content: center;
	align-items: center;
}

.word__btn>.fa-solid {
	color: #FFF;
	font-size: 2rem;
}