/*! === CUSTOM PROPERTIES === */
:root {
	--blue: #2761DA;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	max-width: 65rem;
	margin: 3rem auto 0;
}

.layout__header {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-bottom: 5rem;
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__top>.fa-solid {
	font-size: 6rem;
	color: var(--blue);
}

.header__title {
	font-size: 3rem;
	color: var(--blue);
}