/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	text-align: center;
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.heading {
	margin: 5rem 0;
	font-size: 5rem;
	background: linear-gradient(to right, deeppink 0%, royalblue 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: 900;
}

.tables {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin-bottom: 5rem;
}