/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	text-align: center;
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.heading {
	margin: 5rem 0;
	font-size: 5rem;
	background: linear-gradient(to right, deeppink 0%, royalblue 100%);
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	font-weight: 900;
}

.tables {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin-bottom: 5rem;
}

.tables__item {
	width: calc(20% - 2rem);
	border-radius: 1rem;
	background-color: black;
	padding: 2rem;
}

.tables__title {
	color: white;
	font-size: 3.2rem;
	margin-bottom: 1rem;
}

.tables__list {
	list-style: none;
	padding: 0;
	font-size: 2.4rem;
	color: white;
}

.tables__item:nth-child(1) {
	background-color: firebrick;
}

.tables__item:nth-child(2) {
	background-color: orangered;
}

.tables__item:nth-child(3) {
	background-color: orange;
}

.tables__item:nth-child(4) {
	background-color: forestgreen;
}

.tables__item:nth-child(5) {
	background-color: royalblue;
}

.tables__item:nth-child(6) {
	background-color: darkviolet;
}

.tables__item:nth-child(7) {
	background-color: hotpink;
}

.tables__item:nth-child(8) {
	background-color: lightsalmon;
}

.tables__item:nth-child(9) {
	background-color: slategray;
}