/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
	--lightPurple: #EEEFFF;
	--purple: #684ECD;
	--lightGray: #7E78782B;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	background-color: var(--lightPurple);
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layout__main {
	background-color: white;
	padding: 1.5rem;
	border-radius: 2rem;
	box-shadow: 0px 0px 10px var(--lihtGray);
	display: flex;
}

.main__left {
	background-color: var(--purple);
	border-radius: 1rem;
	color: white;
	padding: 3rem 6rem 3rem 3rem;
}

.main__steps {
	width: 100%;
	list-style: none;
}

.steps__item {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 1rem;
	margin-bottom: 2rem;
}

.steps__container-number {
	/* Para centrar el texto en todo momento */
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--lightPurple);
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	transition: all 400ms ease-in-out;
}

.steps__container-number:hover {
	background-color: var(--lightPurple);
	color: var(--purple);
	cursor: pointer;
}

.steps__number {
	font-size: 2rem;
	font-weight: 700;
}

.steps__title,
.steps__description {
	margin: 0;
}

.steps__title {
	margin-bottom: 1rem;
}