/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
	--white: #FFF;
	--black: #1E1E1E;
	--lightGray: #ECF2F7;
	--green: #039F78;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	background-color: var(--lightGray);
	color: var(--black);
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layout__main {
	min-width: 90rem;
}

.main__title {
	font-size: 3.6rem;
	color: var(--green);
	text-align: center;
	margin-bottom: 5rem;
}

.main__prices {
	display: flex;
	gap: 1.5rem;
}

.prices__price {
	flex-basis: 33.3333%;
	background-color: var(--white);
	padding: 4rem;
	text-align: center;
	border-radius: 2rem 0 0 2rem;
}

.prices__price:last-of-type {
	border-radius: 0 2rem 2rem 0;
}

.prices__price--middle {
	background-color: var(--green);
	color: var(--white);
	border-radius: 2rem;
	transform: scale(1.1);
}