/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
	--black: #222;
	--shadowColor: #d5ab93bf;
	--blue: #00A7DB;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	background-color: AntiqueWhite;
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layout__card {
	display: flex;
	max-width: 86rem;
	height: 30rem;
	background-color: white;
	border-radius: 1.5rem;
	overflow: hidden;
	box-shadow: 1.5rem 1.5rem 10px 1px var(--shadowColor);
}

.card__container-img {
	flex-basis: 40%;
	height: 100%;
}

.card__content {
	flex-basis: 60%;
	height: 100%;
	padding: 3rem 5rem;
}

.content__title {
	font-size: 2.4rem;
	line-height: 1.4;
	color: var(--black);
}

.content__description {
	font-size: 1.8rem;
	color: gray;
	margin: 1.5rem 0;
}

.content__user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user__info {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.user__container-img {
	width: 6rem;
	height: 6rem;
}

.user__img {
	border-radius: 100%;
}

.user__name {
	margin: 0 0 1rem 0;
	font-weight: 500;
}

.user__date {
	color: gray;
}