/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
	--black: #1C1A1A;
	--white: #FFF;
	--darkBlue: #2A4D65;
	--blue: #1A5CAC;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--darkBlue);
}

.layout__main {
	min-width: 45rem;
}

.main__title {
	text-align: center;
	color: var(--white);
	font-size: 2.4rem;
	margin-bottom: 2rem;
	font-weight: 400;
}

.main__generate {
	background-color: var(--white);
	padding: 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.generate__mail {
	font-size: 2.5rem;
	font-weight: 600;
	color: var(--black);
}

.generate__icon {
	font-size: 2.5rem;
	color: var(--blue);
}

.main__form {
	background-color: var(--white);
	padding: 5rem;
}

.control__texts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.control__title {
	color: var(--black);
	font-weight: 500;
	font-size: 2.4rem;
}

.control__number {
	color: var(--blue);
	font-size: 2.4rem;
	font-weight: 600;
}

.control__range {
	appearance: none;
	margin-bottom: 0.7rem;
	background-color: var(--blue);
	width: 100%;
	border-radius: 1rem;
	height: 0.5rem;
}

.control__range::-webkit-slider-thumb {
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--blue);
	cursor: pointer;
	border-radius: 50%;
}

.form__control {
	display: flex;
	align-items: center;
	margin: 2rem 0;
}

.control__checkbox {
	appearance: none;
	margin-right: 1rem;
	border: 3px solid var(--blue);
	padding: 1rem;
	cursor: pointer;
}

.control__checkbox:checked {
	background-image: url(../assets/check.svg);
	background-size: contain;
}

.control__label {
	color: var(--black);
	font-size: 2rem;
	cursor: pointer;
}

.control__input {
	width: 100%;
	background-color: var(--blue);
	color: var(--white);
	border: none;
	outline: none;
	font-size: 2rem;
	padding: 1.5rem;
	margin: 1rem 0;
}

.form__submit {
	width: 100%;
	border: none;
	outline: none;
	padding: 1.5rem;
	font-size: 2rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 300ms ease-in;
}

.form__submit:hover {
	background-color: var(--blue);
	color: var(--white);
}