/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	height: 100%;
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: PowderBlue;
	color: navy;
}

.main__title {
	font-size: 4rem;
}

.title__text {
	font-size: 6rem;
	height: 7rem;
	line-height: 7rem;
	overflow: hidden;
}

.text__rotate {
	position: relative;
	display: block;
	animation: rotate 10s ease infinite;
}

@keyframes rotate {
	20% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-7rem);
	}

	45% {
		transform: translateY(-7rem);
	}

	50% {
		transform: translateY(-14rem);
	}

	70% {
		transform: translateY(-14rem);
	}

	75% {
		transform: translateY(-21rem);
	}

	95% {
		transform: translateY(-21rem);
	}

	100% {
		transform: translateY(0);
	}
}