/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
	--brown: #404040;
	--white: #FFF;
	--black: #161616;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	width: 100%;
	height: 100%;
	background-color: var(--brown);
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.layout__title {
	font-size: 3rem;
	text-align: center;
	color: var(--white);
	margin: 3rem 0;
}

.layout__search {
	width: 30%;
	display: flex;
	justify-content: center;
}

.search__input {
	width: 100%;
	padding: 2rem;
	border-radius: 2rem 0 0 2rem;
	border: 0;
	outline: 0;
	font-weight: 600;
	color: gray;
}

.search__input::placeholder {
	font-weight: 400;
	color: var(--black);
}