/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
	padding: 3rem;
}

.layout__article {
	position: relative;
	width: 40rem;
	height: 40rem;
	cursor: pointer;
	border-radius: 2rem;
	/* Importante ocultar los textos, pero comentarlo al trabajar el overlay */
	overflow: hidden;
}

.article__img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.article__overlay {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: RoyalBlue;
	padding: 3rem;
	color: white;
	transition: all 400ms ease-in-out;
}

.article__title {
	margin-bottom: 2rem;
}

.article__description {
	font-weight: 300;
	font-size: 1.8rem;
}

.layout__article--2>.article__overlay {
	background-color: Brown;
	height: 50%;
}

.layout__article--3>.article__overlay {
	background-color: SeaGreen;
}