/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	background-color: Peru;
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layout__main {
	width: 50rem;
}

.main__header {
	padding: 3rem;
	background-color: RosyBrown;
	color: white;
	border-radius: 2rem;
	box-shadow: 5px 5px 5px 0px SaddleBrown;
	margin-bottom: 2rem;
}

.header__title {
	margin-bottom: 1rem;
}

.main__chart {
	background-color: Wheat;
	box-shadow: 5px 5px 5px 0px SaddleBrown;
	border-radius: 2rem;
	padding: 3rem;
}

.chart__title {
	font-size: 3rem;
	margin-bottom: 6rem;
	color: sienna;
}