/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
	background-color: SlateGray;
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layout__buttons {
	width: 70rem;
	display: flex;
	justify-content: space-between;
	gap: 5rem;
}

/* Estilos boton 1 */

.buttons__btn1 {
	position: relative;
	width: 30rem;
	height: 10rem;
	border-radius: 5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 3rem;
	box-shadow: 15px 18px 0px 0px black;
	border: 5px solid white;
	background-color: Teal;
	color: white;
	/* Oculta la caja de ::before que realmente esta debajo del boton */
	overflow: hidden;
}

/* Efecto boton 1 */

.buttons__btn1::before {
	content: 'Hello !';
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: Teal;
	color: white;
	font-weight: 600;
	border-radius: 5rem;
	transform: translateY(10rem);
	transition: all 400ms linear;
}

.buttons__btn1:hover::before {
	transform: translateY(0);
}

/* Estilos boton 2 */

.buttons__btn2 {
	position: relative;
	width: 30rem;
	height: 10rem;
	border-radius: 5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 3rem;
	box-shadow: 15px 18px 0px 0px black;
	border: 5px solid Teal;
	background-color: white;
	color: Teal;
	border-radius: 0;
}