/*! === CUSTOM PROPERTIES === */
:root {
	--mainFont: "Montserrat", sans-serif;
	--softViolet: #B0B3D9;
	--darkBlue: #252c58;
	--lightGreen: #99F870;
}

/*! === GLOBAL === */
html {
	/* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--mainFont);
}

h1,
h2,
h3 {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

.layout {
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--softViolet);
}

.layout__main {
	min-width: 50rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__stopwatch {
	background-color: var(--darkBlue);
	min-width: 45rem;
	height: 45rem;
	border-radius: 100%;
	padding: 3rem;
}

.stopwatch__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--softViolet);
	border: 10px solid var(--lightGreen);
	/* Coloca el borde a todo lo ancho y alto */
	width: 100%;
	height: 100%;
	/* Para redondearlo y hacer que ocupe la circunferencia */
	border-radius: 100%;
	/* Recortar una parte del borde */
	border-left-color: transparent;
}